
  <div class="w3l_banner_nav_right">
<div class="row bootstrap snippets">
    <!-- Cart -->
    <div class="col-md-12">
        <div class="col-lg-12 col-sm-12">
            <h2 class="title" style="padding: 1em; text-align: center;">SHOPPING CART</h2>
        </div>
        <div class="col-lg-12 col-sm-12 hero-feature">
            <div class="table-responsive">
                <table class="table table-bordered tbl-cart">
                    <thead>
                        <tr>
                            <td class="hidden-xs">Image</td>
                            <td>Product Name</td>
                            <td>Quantity</td>
                            <td>Unit Price</td>
                            <td>Sub Total</td>
                            <td><button type="button" class="btn btn-sm btn-danger btn-outline" (click)="clearCart()">Empty Cart</button></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pro of getProductsById">
                            <td class="hidden-xs">
                                <a [routerLink]="['/productDescription', pro.product_id]">
                                    <img src="{{envURL}}{{pro.image}}" alt="Age Of Wisdom Tan Graphic Tee" title="" width="47" height="47">
                                </a>
                            </td>
                            <td data-th="Product Name"><a [routerLink]="['/productDescription', pro.product_id]">{{pro.product_name}}<span style="padding-left: 1em;">{{pro.quantity}}</span></a>
                            </td>
                            <td data-th="Quantity">
                                <div class="input-group bootstrap-touchspin" style="width: 120px;display: inline-table;">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-down" (click)="minusCart(pro.product_id)" type="button">-</button>
                                    </span>
                                    <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                    <input type="number" name="" [(ngModel)]="cart[pro.product_id]" (ngModelChange)="updateCart(cart)" value="{{cart[pro.product_id]}}" class="input-qty form-control text-center" style="display: block;">
                                    <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default bootstrap-touchspin-up" (click)="plusCart(pro.product_id)" type="button">+</button>
                                    </span>
                                </div>
                            </td>
                            <td data-th="Unit Price" class="price">₹{{pro.discount_price}}</td>
                            <td data-th="Sub Total">₹{{calculate(pro.discount_price,cart[pro.product_id])}}</td>
                            <td data-th="Action" class="text-center">
                                <a class="remove_cart" rel="2" (click)="removeCartItem(pro.product_id)">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="right" class="tot">Total</td>
                            <td data-th="Total" *ngIf="totalPrice>=200 || totalPrice==0" class="total" colspan="2"><b>₹{{totalPrice}}</b></td>
                            <td data-th="Total" *ngIf="totalPrice<200 && totalPrice>0" class="total" colspan="2"><b>₹{{totalPrice}} + ₹40 * = ₹{{totalPrice + 40}} </b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="totalPrice<200 && totalPrice>0">* If your cart less than ₹200  Delevery charged ₹40.</div>
                <br>
            <div class="btns-cart">
                <button type="button" class="btn btn-primary" style="float: left;" (click)="continueShopping()">
                    <i class="fa fa-arrow-circle-left"></i> Continue Shopping
                </button>
                <button type="button" class="btn btn-primary" style="float: right;" (click)="Checkout()">Place Order 
                    <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>

        </div>
    </div>
    <!-- End Cart -->
</div>
</div>