
<!-- banner -->
<div class="banner">
  <div class="w3l_banner_nav_right">
    <!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
      <li>Sign In & Sign Up</li>
    </ul>
</div>
<!-- //products-breadcrumb -->
<!-- login -->
  <div class="w3_login">
    <h3>Sign In & Sign Up</h3>
      <div class="module form-module">
        <div class="toggle"><i class="fa fa-times fa-pencil"></i>
        <div class="tooltip">Click Me</div>
        </div>
        <div class="form">
        <h2 style="text-align: center; padding: 1em;">Login to your account</h2>
        <form [formGroup]="loginForm" (ngSubmit)="loginValidation()">
          <input type="text" name="Username" formControlName="username" placeholder="User name / Email" required=" ">
          <input type="password" name="Password" formControlName="password" placeholder="Password" required=" ">
          <input type="submit" value="Login">
          <div *ngIf="loginError" class="alert alert-danger">{{loginError}}</div>
        </form>
        </div>
        <div class="form">
        <h2 style="text-align: center; padding: 1em;">Create an account</h2>
        <form [formGroup]="profileForm" (ngSubmit)="profileValidation()">
          <input type="text" name="Username" formControlName="username" placeholder="User name" required=" ">
          <input type="password" name="Password" formControlName="password" placeholder="Password" required=" ">
          <input type="password" name="Password2" formControlName="password2" placeholder="Re-Type Password" required=" ">
          <input type="email" name="Email" formControlName="email" placeholder="Email Address" required=" ">
          <input type="submit" value="Register">
          <div *ngIf="profileError" class="alert alert-danger">{{profileError}}</div>
        </form>
        </div>
        <div class="cta">
          <a href="{{envURL}}/api/accounts/passwordreset/" target="_blank" rel="noopener noreferrer">
          Forgot your password?</a>
        </div>
      </div>
  </div>
<!-- //login -->
  </div>
  <div class="clearfix"></div>
</div>
<!-- //banner -->