
<!-- banner -->
<div class="banner">
  <div class="w3l_banner_nav_right">
    <!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <ul>
      <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
      <li>Sign In & Sign Up</li>
    </ul>
</div>
<!-- //products-breadcrumb -->
<!-- login -->
  <div class="w3_login">
    <h3>Sign In & Sign Up</h3>
    <div class="w3_login_module">
      <div class="module form-module">
        <div class="toggle"><i class="fa fa-times fa-pencil"></i>
        <div class="tooltip">Click Me</div>
        </div>
        <div class="form">
        <h2>Login to your account</h2>
        <form formGroup="loginForm" (ngSubmit)="onLoginSubmit()">
          <input type="text" name="Username" formControlName="username" placeholder="Username / Email" required=" ">
          <input type="password" name="Password" formControlName="password" placeholder="Password" required=" ">
          <input type="submit" value="Login">
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
        </div>
        <div class="form">
        <h2>Create an account</h2>
        <form formGroup="profileForm" (ngSubmit)="onSubmit()">
          <input type="text" name="Username" formControlName="username" placeholder="Username" required=" ">
          <input type="password" name="Password" formControlName="password" placeholder="Password" required=" ">
          <input type="password" name="Password2" formControlName="password2" placeholder="ReType Password" required=" ">
          <input type="email" name="Email" formControlName="email" placeholder="Email Address" required=" ">
          <input type="text" name="Phone" formControlName="phone" placeholder="Phone Number" required=" ">
          <input type="submit" value="Register">
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
        </div>
        <div class="cta"><a href="#">Forgot your password?</a></div>
      </div>
    </div>
  </div>
<!-- //login -->
  </div>
  <div class="clearfix"></div>
</div>
<!-- //banner -->