<div class="nav justify-content-end topnav">
  <ul *ngIf="currentUser">
    <li class="dropdown profile_details_drop">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"> {{login_name}} </i>
        </a>
      <div class="dropdown">
          <div class="dropdown-content">
            <a href="#" (click)="logout()">Logout</a>
          </div>                 
      </div>	
    </li>
  </ul>
  <ul *ngIf="!currentUser">
    <li class="profile_details_drop">
      <a routerLink="/adminlogin"><i class="fa fa-user" aria-hidden="true"> Login | Sign Up </i></a>
    </li>
  </ul>
</div>

<div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Products <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li [routerLink]="['/productlist']">Product list view</li>
                  <li [routerLink]="['/category']">Categories</li>
                  <li [routerLink]="['/subcategory']">Sub Categories</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> Order <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li [routerLink]="['/orderlist']">Order list</li>
                  <li>Order detail</li>
                </ul>


                 <li>
                  <a  [routerLink]="['/addproducts']">
                  <i class="fa fa-user fa-lg"></i> Add Products
                  </a>
                  </li>

                 <li>
                  <a [routerLink]="['/user']">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            </ul>
     </div>
</div>

<div class="nav-right">
    <router-outlet></router-outlet>
</div>