<div class="content-main">

  <h3 style="text-align: center;"><b>ORDER DETAILS</b></h3>
        <div class="card">
          <header class="card-header">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <span>
                  <i class="fa fa-calendar"></i> <b>{{latest_date}}</b>  
                </span> <br>
                <small class="text-muted">Order ID: {{getOrdersById.order_id}}</small>
              </div>
              <div class="col-lg-4 col-md-4 float-right">
                <form (ngSubmit)="onSubmit()" [formGroup] = "changeStatus">
                    <select id="status" name="status" formControlName="status" class="form-select d-inline-block" style="max-width: 200px">
                    <option value="Your order has been placed">Order Placed</option>
                    <option value="Your order has been confirmed">Order Confirmed</option>
                    <option value="Your order has been shipped">Order Shipped</option>
                    <option value="Your order has been delivered">Delivered</option>
                    <option value="Your order has been canceled">Order Canceled</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
              </div>
              <div class="col-lg-2 col-md-2 float-right">
                <button [useExistingCss]="true" printSectionId="print-section" ngxPrint><i class="fa fa-print"></i></button>
                <!-- <a class="btn btn-secondary ms-2" href="#"><i class="fa fa-print"></i></a> -->
              </div>
            </div>
          </header> <!-- card-header end// -->
          <div id="print-section" class="card-body">

            <div class="row mb-5 order-info-wrap">
              <div class="col-md-4">
                <article class="icontext align-items-start">
                  <span class="icon icon-sm rounded-circle bg-primary-light">
                    <i class="text-primary fa fa-user"></i>
                  </span>
                  <div class="text">
                    <h4 class="mb-1"><b>Customer</b></h4> 
                    <p class="mb-1">
                        {{AddressDet.name}} <br> {{getUserById.email}} <br> +91{{AddressDet.phone}}
                    </p>
                  </div>
                </article> 
              </div> <!-- col// -->
              <div class="col-md-4">
                <article class="icontext align-items-start">
                  <span class="icon icon-sm rounded-circle bg-primary-light">
                    <i class="text-primary fa fa-truck"></i>
                  </span>
                  <div class="text">
                    <h4 class="mb-1"><b>Order info</b></h4> 
                    <p class="mb-1">
                      Shipping: Fargo express <br> Pay method: card <br> Status: new
                    </p>
                  </div>
                </article> 
              </div> <!-- col// -->
              <div class="col-md-4">
                <article class="icontext align-items-start">
                  <span class="icon icon-sm rounded-circle bg-primary-light">
                    <i class="text-primary fa fa-map-marker"></i>
                  </span>
                  <div class="text">
                    <h4 class="mb-1"><b>Deliver to</b></h4> 
                    <p class="mb-1">
                        {{AddressDet.address}}<br>City: {{AddressDet.city}}, {{AddressDet.state}}<br> {{pin(AddressDet.pin_code)}}
                    </p>
                  </div>
                </article> 
              </div> <!-- col// -->
            </div> <!-- row // -->

            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive">
                <table class="table border table-hover table-lg">
                  <thead>
                    <tr>
                      <th width="40%">Product</th>
                      <th width="20%">Unit Price</th>
                      <th width="20%">Quantity</th>
                      <th width="20%" class="text-end">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ordOtem of orderItem">
                      <td>
                        <a class="itemside" href="#">
                            <div class="left">
                                <img src="{{envURL}}{{ordOtem.image}}" width="40" height="40" class="img-xs" alt="Item">
                            </div>
                            <div class="info"> {{ordOtem.product_name}} </div>
                        </a>
                      </td>
                      <td> ₹{{ordOtem.discount_price}} </td>
                      <td> {{convertQuntJson(getOrdersById.itemsQuntJson,ordOtem.product_id)}} </td>
                      <td class="text-end"> ₹{{ordOtem.discount_price * convertQuntJson(getOrdersById.itemsQuntJson,ordOtem.product_id)}}  </td>
                    </tr>
                    <tr>
                      <td colspan="4"> 
                          <article class="float-end">
                            <dl class="dlist"> 
                                <dt>Subtotal: </dt> <dd> ₹{{getOrdersById.amount}}</dd> 
                              </dl>
                              <dl *ngIf="getOrdersById.amount<200 && getOrdersById.amount>0" class="dlist"> 
                                <dt>Shipping cost: </dt> <dd> ₹40</dd> 
                              </dl>
                              <dl *ngIf="getOrdersById.amount>=200 || getOrdersById.amount==0" class="dlist"> 
                                <dt>Shipping cost: </dt> <dd> ₹0</dd> 
                              </dl>
                              <dl *ngIf="getOrdersById.amount<200 && getOrdersById.amount>0" class="dlist"> 
                                <dt>Grand total:</dt> <dd> <b class="h5"> ₹{{getOrdersById.amount + 40}}</b> </dd> 
                              </dl>
                              <dl *ngIf="getOrdersById.amount>=200 || getOrdersById.amount==0" class="dlist"> 
                                <dt>Grand total:</dt> <dd> <b class="h5"> ₹{{getOrdersById.amount}}</b> </dd> 
                              </dl>
                              <dl class="dlist"> 
                                <dt class="text-muted">Status:</dt> 
                                <dd>  
                                  <span *ngIf="getOrdersById.paymentStatus=='Cash on Delivery'" class="badge rounded-pill alert-danger text-error">{{getOrdersById.paymentStatus}}</span>
                                  <span *ngIf="getOrdersById.paymentStatus=='Online Payment'" class="badge rounded-pill alert-success text-success">{{getOrdersById.paymentStatus}}</span> 
                                </dd> 
                              </dl>
                          </article>
                      </td>
                    </tr>
                  </tbody>
                </table>
                </div> <!-- table-responsive// -->
              </div> 

            </div>
          </div> <!-- card-body end// -->
        </div> <!-- card end// -->

</div>