<div class="container">
     <div class="content-header">
         <h2 class="content-title" style="text-align: center;"><b>SubCategories</b></h2>
     </div>
     <div class="card">
         <div class="card-body">
             <div class="row">
                  <div class="col-md-4">
                       <form (ngSubmit)="onSubmit()" [formGroup] = "subCategoryForm">
                         <div class="form-group">
                              <label class="control-label" for="category_id">CATEGORY</label>
                                <select id="category_id" name="category_id" formControlName="category_id" class="form-control">
                                    <option value="">Select Category</option>
                                  <option *ngFor="let cat of category" value="{{cat.category_id}}">{{cat.category_name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                 <label for="subCategory_name" class="form-label">SUBCATEGORY NAME</label>
                                 <input type="text" placeholder="Type here" class="form-control" formControlName="subCategory_name" id="subCategory_name">
                            </div>
                            
                            <div class="d-grid" style="text-align: center;">
                                 <button class="btn btn-primary" type="submit">Save subcategory</button>
                                 <div *ngIf="Error" class="alert alert-danger">{{Error}}</div>
                            </div>
                       </form>
                  </div>
                  <div class="col-md-8">
                       
                     <table class="table table-hover">
                     <thead>
                         <tr>
                             <th>ID</th>
                             <th>SubCategory Name</th>
                             <th>categoty</th>
                             <th class="text-center">Action</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr *ngFor="let subcat of subCategory">
                             <td>{{subcat.subCategory_id}}</td>
                             <td><b>{{subcat.subCategory_name}}</b></td>
                             <td>{{getCategoryName(subcat.category_id)}}</td>
                             <td class="text-center">
                                 <a class='btn btn-info btn-xs' (click)="editSubCategory(subcat.subCategory_id)"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                                 <a class="btn btn-danger btn-xs" (click)="delSubCategory(subcat.subCategory_id)"><span class="glyphicon glyphicon-remove"></span> Del</a>
                             </td>
                         </tr>
                     </tbody>
                     </table>
   
                  </div> <!-- .col// -->
             </div> <!-- .row // -->
        </div>
     </div>
 </div>