
<div class="w3l_banner_nav_right center-screen">
    <div class="form-css">
        <h2 class="chgpass">Change Password</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassValidation()">
            <label>Current Password</label>
            <div class="form-group"> 
                <input type="password" class="form-control" formControlName="old_password" placeholder="Current Password"> 
            </div> 
            <label>New Password</label>
            <div class="form-group"> 
                <input type="password" class="form-control" formControlName="new_password1" placeholder="New Password"> 
            </div> 
            <label>Confirm Password</label>
            <div class="form-group"> 
                <input type="password" class="form-control" formControlName="new_password2" placeholder="Confirm Password"> 
            </div> 
            <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-primary">change password</button>
                <div *ngIf="Error" class="alert alert-danger">{{Error}}</div>
            </div>
        </form>
    </div>  
</div>

