.form-css{
    /* margin: 5em 0 0 12em; */
    position: relative; 
    background: #ffffff;
    max-width: 400px; 
    width: 100%;
    box-shadow: 0 0 3px rgb(0 0 0 / 25%);
    border: 1px solid #999;
    padding: 1em;
}
.chgpass{
    background-color: lightgreen;
    padding: 15px;
    text-align: center;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }