<div class="w3l_banner_nav_right" style="padding: 25px;">
    <div class="">
        <h3 class="heading">Step 1 - My Cart Checkout - Review Your Cart Items</h3>
        <div id="items">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let pro of getProductsById">
                    {{pro.product_name}}
                    <span class="badge badge-primary badge-pill">{{cart[pro.product_id]}}</span>
                </li>
            </ul>
        </div>
        <div style="padding: 25px;" class="text-center">Your Cart Total Is <b>₹ {{totalPrice}}</b>
        Enter your details below & place your order. Thanks for using My Awesome Cart!</div>
    </div>
    <div class="">
        <h3 class="heading">Step 2 - Delivery Address</h3>
            <div class="row" *ngFor="let useradd of userAddress">
                <div class="panel panel-default" style="display: flex; padding-left: 1em;">
                    <input type="radio" class="custom-control-input" (change)="onAddChange($event.target.value)" 
                    id="{{useradd.address_id}}" name="radioAddData" value="{{useradd.address_id}}" style="margin-top: 37px;">
                    <label class="custom-control-label panel-body card-input" for="{{useradd.address_id}}" style="width: 100%;">
                        <span >
                            {{useradd.name}} - {{useradd.phone}}
                        </span><br>
                        <span >
                            {{useradd.address}}, {{useradd.city}}, {{useradd.state}} - {{pin(useradd.pin_code)}}
                        </span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default" (click)="expanded = true" style="display: flex; padding-left: 1em;">
                    <i class="fa fa-plus" style="margin-top: 23px;"></i>
                    <label class="panel-body card-input" style="width: 100%;">
                        <span > Add a new Address</span>
                        <div *ngIf="expanded == true" class="hide-cursor">
                            <form [formGroup]="addressForm" (ngSubmit)="addValidation()">
                                <input type="hidden" class="form-control" id="user_id" placeholder="user_id" formControlName="user_id">
                                <div class="form-row">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="name" class="form-control" id="name" placeholder="Name" formControlName="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Phone">Phone Number</label>
                                    <input type="number" class="form-control" id="phone" formControlName="phone">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" formControlName="address">
                                </div>
                                <div class="form-group">
                                    <label for="address2">Address line 2</label>
                                    <input type="text" class="form-control" id="address2" placeholder="Apartment, studio, or floor" formControlName="address2">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="pin_code">Pin Code</label>
                                        <!-- <input type="text" class="form-control" id="inputZip"> -->
                                        <select id="pin_code" name="pin_code" formControlName="pin_code" class="form-control">
                                            <option value="">Select Pin Code</option>
                                            <option *ngFor="let pin of pincode" value="{{pin.pinCode_id}}">{{pin.pin_code}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" value="Patna"  disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="state">State</label>
                                        <input type="text" class="form-control" id="state" value="Bihar" disabled>
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Add Address</button>
                                <div *ngIf="addError" class="alert alert-danger" style="display: inline;">{{addError}}</div>
                            </form>
                        </div>
                    </label>
                </div>
            </div>
        
    </div>
    <div class="">
        <h3 class="heading">Step 3 - Payment Options</h3>
        <div id="items">
            <input type="radio" class="" name="payRadio" (change)="onPayChange($event.target.value)" readonly="" id="COD" value="Cash on Delivery">
            <label class="pay">Cash on Delivery</label>
        </div>
        <div id="items">
            <input type="radio" class="" name="payRadio" (change)="onPayChange($event.target.value)" readonly="" id="UPI" value="Online Payment">
            <label class="pay">Online Payment</label>
        </div>
    </div>
    <button type="button" class="btn btn-primary" style="float: left;" (click)="back()">
        <i class="fa fa-arrow-circle-left"></i> Back
    </button>
    <button type="submit" (click)="orderValidation()" style="float: right;" class="btn btn-primary">Confirm Order</button>
    <div *ngIf="orderError" class="alert alert-danger" style="display: inline;">{{orderError}}</div>
</div>