input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
  .card-input:hover {
      cursor: pointer;
  }
  .hide-cursor{
    cursor: auto;
  }
  .heading{
    padding-bottom: 1em;
  }
  .pay{
    margin-left: 1em;
  }
  