<h2 style="text-align: center;"><b>Orders</b></h2>
<div class="well">
    <div class="table-responsive">
        <table class="table table-bordered tbl-cart">
            <thead>
                <tr>
                    <td>Order Id</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Amount</td>
                    <td>Payment</td>
                    <td>Status</td>
                    <td class="text-center">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let allord of allOrder">
                    <td>{{allord.order_id}}</td>
                    <td>{{addressDetail(allord.address).name}}</td>
                    <td>{{userDetail(allord.user_id).email}}</td>
                    <td>{{addressDetail(allord.address).phone}}</td>
                    <td *ngIf="allord.amount>=200 || allord.amount==0">₹{{allord.amount}}</td>
                    <td *ngIf="allord.amount<200 && allord.amount>0">₹{{allord.amount +40}}*</td>
                    <td>{{allord.paymentStatus}}</td>
                    <td>
                    <span *ngIf="checkstatus(allord.order_id)==1" class="badge rounded-pill alert-warning">Pending</span>
                    <span *ngIf="checkstatus(allord.order_id)==2" class="badge rounded-pill alert-danger">Canceled</span>
                    <span *ngIf="checkstatus(allord.order_id)==3" class="badge rounded-pill alert-success">Delivered</span>
                    </td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' [routerLink]="['/orderdetails', allord.order_id]"><span class="glyphicon glyphicon-edit"></span> Details</a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
