<div class="btn-toolbar">
    <button class="btn btn-primary">New Product</button>
    <button class="btn">Import</button>
    <button class="btn">Export</button>
</div>
<div class="well">
    <div class="table-responsive">
        <table class="table table-bordered tbl-cart">
            <thead>
                <tr>
                    <td>Product Id</td>
                    <td class="hidden-xs">Image</td>
                    <td>Product Name</td>
                    <td>Category</td>
                    <td>Sub Category</td>
                    <td>Quantity</td>
                    <td>Unit Price</td>
                    <td>Discount Price</td>
                    <td>Stock Alert</td>
                    <td class="text-center">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pro of products">
                    <td>{{pro.product_id}}</td>
                    <td class="hidden-xs">
                            <img src="http://127.0.0.1:8000{{pro.image}}" alt="Age Of Wisdom Tan Graphic Tee" title="" width="47" height="47">
                    </td>
                    <td>{{pro.product_name}}</td>
                    <td>{{getCategoryName(pro.category)}}</td>
                    <td>{{getSubCategoryName(pro.subcategory)}}</td>
                    <td>{{pro.quantity}}</td>
                    <td class="price">₹{{pro.price}}</td>
                    <td class="price">₹{{pro.discount_price}}</td>
                    <td>{{getStockAlertName(pro.stockalert)}}</td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' (click)="editProduct(pro.product_id)"><span class="glyphicon glyphicon-edit"></span> Edit</a> 
                        <a class="btn btn-danger btn-xs" (click)="delProduct(pro.product_id)"><span class="glyphicon glyphicon-remove"></span> Del</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
