<div class="well">
    <div class="table-responsive">
        <table class="table table-bordered tbl-cart">
            <thead>
                <tr>
                    <td>User Id</td>
                    <td>User Name</td>
                    <td>Email</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td class="text-center">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUser">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs'><span class="glyphicon glyphicon-edit"></span> Details</a> 
                        <a class="btn btn-danger btn-xs" (click)="delUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Del</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
