<h2 style="text-align: center;"><b>Contact Mails</b></h2>

<div class="well">
    <div class="table-responsive">
        <table class="table table-bordered tbl-cart">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>phone</td>
                    <td>subject</td>
                    <td>message</td>
                    <td class="text-center">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cont of contact">
                    <td>{{cont.contctformId}}</td>
                    <td>{{cont.fullname}}</td>
                    <td>{{cont.email}}</td>
                    <td>{{cont.phone}}</td>
                    <td>{{cont.subject}}</td>
                    <td>{{cont.message}}</td>
                    <td class="text-center">
                        <a class="btn btn-danger btn-xs" (click)="delcont(cont.contctformId)"><span class="glyphicon glyphicon-remove"></span> Del</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
