<!-- banner -->
<div class="banner">
    <div class="w3l_banner_nav_right">

        <!-- products-breadcrumb -->
        <div class="products-breadcrumb">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
                <li>{{getCategoryById}}</li>
                <li *ngIf="subCategoryId !=='null'"><span>|</span>{{getSubCategoryById}}</li>
            </ul>
        </div>
        <!-- //products-breadcrumb -->

        <div class="w3l_banner_nav_right_banner5">
            <h3>Best Deals For New Products<span class="blink_me"></span></h3>
        </div>

        <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_veg">
            <h3 class="w3l_fruit" *ngIf="subCategoryId !=='null'">{{getSubCategoryById}}</h3>
            <h3 class="w3l_fruit" *ngIf="subCategoryId == 'null'">{{getCategoryById}}</h3>
            <div class="row w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">

                <div *ngFor="let pro of products">
                    <div *ngFor="let cnew of ConvertToJSON(pro.category)">
                        <div *ngIf="(cnew.category_id == categoryId && (subCategoryId==pro.subcategory || subCategoryId=='null'))"
                            class="col-md-3 sm-4 clearfix w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                                    <div class="tag"><img src="./assets/images/tag.png" alt=" " class="img-responsive">
                                    </div>
                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    <a [routerLink]="['/productDescription', pro.product_id]"><img
                                                            src="{{pro.image}}" alt=" " class="img-responsive" /></a>
                                                    <p>{{pro.product_name}} <span
                                                            *ngFor="let new of ConvertToJSON(pro.quantity_type)">{{new.variant_name}}</span>
                                                    </p>
                                                    <h4>₹{{pro.discount}} <span>₹{{pro.price}}</span></h4>
                                                </div>
                                                <div class="snipcart-details">
                                                    <div *ngIf="cart[pro.product_id]"
                                                        class="input-group bootstrap-touchspin">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default bootstrap-touchspin-down"
                                                                (click)="minusCart(pro.product_id)"
                                                                type="button">-</button>
                                                        </span>
                                                        <input type="number" name="" value="{{cart[pro.product_id]}}"
                                                            [(ngModel)]="cart[pro.product_id]" (ngModelChange)="updateCart(cart)"
                                                            class="input-qty form-control text-center"
                                                            style="display: block;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default bootstrap-touchspin-up"
                                                                (click)="plusCart(pro.product_id)"
                                                                type="button">+</button>
                                                        </span>
                                                    </div>
                                                    <input *ngIf="!cart[pro.product_id]"
                                                        (click)="addCart(pro.product_id)" type="submit" name="submit"
                                                        value="Add to cart" class="button" />
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="clearfix"> </div> -->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->