
<!-- banner -->
<div class="banner">
    <div class="w3l_banner_nav_right">
        <!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <ul>
        <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
        <li>Mail Us</li>
    </ul>
</div>
<!-- //products-breadcrumb -->
<!-- mail -->
    <div class="mail">
        <h3>Mail Us</h3>
        <div class="agileinfo_mail_grids">
            <div class="col-md-4 agileinfo_mail_grid_left">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i></li>
                    <li>address<span>868 1st Avenue NYC.</span></li>
                </ul>
                <ul>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                    <li>email<span><a href="mailto:info@example.com">info@example.com</a></span></li>
                </ul>
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                    <li>call to us<span>(+123) 233 2362 826</span></li>
                </ul>
            </div>
            <div class="col-md-8 agileinfo_mail_grid_right">
                <form [formGroup]="contactForm" (ngSubmit)="contactValidation()">
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="fullname" value="Name*" formControlName="fullname" placeholder="Name*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name*';}" required="">
                        <input type="email" name="email" value="Email*" formControlName="email" placeholder="Email*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email*';}" required="">
                    </div>
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="phone" value="Telephone*" formControlName="phone" placeholder="Telephone*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone*';}" required="">
                        <input type="text" name="subject" value="Subject*" formControlName="subject" placeholder="Subject*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject*';}" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea  name="message" formControlName="message" placeholder="Message...*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                    <input type="submit" value="Submit">
                    <input type="reset" value="Clear">
                    <div *ngIf="Error" class="alert alert-danger" style="margin: 0 1em;">{{Error}}</div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
<!-- //mail -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- map -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3601.79355694548!2d84.95384921433343!3d25.478568026481177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f2adf9fab32d5d%3A0x75b19538bd9f7207!2sLakh%20market!5e0!3m2!1sen!2sin!4v1627661165249!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- //map -->