<div class="w3l_banner_nav_right">
    <h3 style="padding: 1em; text-align: center;">Your Order</h3>
    <div *ngIf="myOrder?.length > 0">
        <div class="itemlist" *ngFor="let myord of myOrder">
            <div class="row">
                <div class="col-md-2 align-items-center">
                    <b>OD00{{myord.order_id}}</b>
                </div>
                <div class="col-md-6">
                    <ul class="row" style="margin: 0px;" *ngFor="let myordItem of convertItemsJson(myord.itemsJson)">
                        <li style="display: inline-block; margin: 0px;">
                            <a class="itemside" href="#">
                                <div class="left">
                                    <img src="{{envURL}}{{myordItem.image}}" class="img-sm imgsize" alt="Item">
                                </div>
                                <div class="info">
                                    <h6>{{myordItem.product_name}}</h6>
                                </div>
                            </a>
                        </li>
                        <li style="float: right; list-style: none;"> 
                            <span>₹{{myordItem.discount_price}} * {{convertQuntJson(myord.itemsQuntJson,myordItem.product_id)}}</span>
                        </li>
                    </ul> 
                </div>
                <div class="col-md-2 align-items-center">
                    <span *ngIf="checkstatus(myord.order_id)<=3" class="badge rounded-pill alert-warning">Pending</span>
                    <span *ngIf="checkstatus(myord.order_id)==4" class="badge rounded-pill alert-danger">Canceled</span>
                    <span *ngIf="checkstatus(myord.order_id)==5" class="badge rounded-pill alert-success">Delivered</span>
                    <br><br>
                    <p>{{OrderTime(myord.order_id) | date:'mediumDate'}}</p>
                </div>
                <div class="col-md-2">
                    <button *ngIf="cancelOrderButt" (click)="cancelorder(myord.order_id)" class="btn btn-danger btn-block">Cancel order</button><br>
                    <button (click)="trackorder(myord.order_id)" class="btn btn-success btn-block">Track order</button>
                </div>
            </div>
            <div *ngIf="showtracker==myord.order_id">
                <div *ngFor="let track of trackItem">
                    <div class="text-center">
                        <b>{{convertTimeFormate(track.time)}} : {{track.status}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
