<div class="container">
    <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Quick Shortcuts</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                          <a href="#" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> <br/>Users</a>
                          <a href="#" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>Products</a>
                          <a href="#" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Category</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>SubCategory</a>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>Total Orders</a>
                          <a href="#" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-file"></span> <br/>Pending Orders</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-picture"></span> <br/>Photos</a>
                          <a href="#" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-tag"></span> <br/>Feedback</a>
                        </div>
                    </div>
                    <a href="http://localhost:4200/" target="_blank" rel="noopener noreferrer" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-globe"></span> Website</a>
                </div>
            </div>
    </div>
</div>
<div class="well">
    <div class="table-responsive">
        <table class="table table-bordered tbl-cart">
            <thead>
                <tr>
                    <td>Order Id</td>
                    <td>Name</td>
                    <!-- <td>Email</td> -->
                    <td>Phone</td>
                    <td>Amount</td>
                    <td>Payment</td>
                    <td>Status</td>
                    <td class="text-center">Action</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let allord of pendingOrder">
                    <td>{{allord.order_id}}</td>
                    <td>{{addressDetail(allord.address).name}}</td>
                    <!-- <td>{{userDetail(allord.user_id).email}}</td> -->
                    <td>{{addressDetail(allord.address).phone}}</td>
                    <td>₹{{allord.amount}}</td>
                    <td>{{allord.paymentStatus}}</td>
                    <td>
                    <span *ngIf="checkstatus(allord.order_id)==1" class="badge rounded-pill alert-warning">Pending</span>
                    <span *ngIf="checkstatus(allord.order_id)==2" class="badge rounded-pill alert-danger">Canceled</span>
                    <span *ngIf="checkstatus(allord.order_id)==3" class="badge rounded-pill alert-success">Delivered</span>
                    </td>
                    <td class="text-center">
                        <a class='btn btn-info btn-xs' [routerLink]="['/orderdetails', allord.order_id]"><span class="glyphicon glyphicon-edit"></span> Details</a> 
                        <a class="btn btn-danger btn-xs" (click)="delProduct(allord.order_id)"><span class="glyphicon glyphicon-remove"></span> Del</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

